
#banner_2{
    background: #0a192f;
    border-color: #2b2f3b;
    color: #8f81c2;
    height: 75vh;
    z-index: 1;
    padding-top: 100px;
    .banner_terminal{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: visible;
      opacity: 1;
      &.close{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
      }
    }
    .terminal {
        text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
        width: 250px;
        font: inherit;
        border: none;
        outline: none;
        color: inherit;
      
        .dollar:before {
          content: '$';
          color: #52a563;
        }
        .home {
          color: #e28d47;
          padding-bottom: 3px;
        }
        a {
          font: 12px "Monaco", Inconsolata, monospace;
          text-decoration: underline;
          color: #f8f8f8;
        }
    }
    .terminal-window{
        text-align: left;
        width: 600px;
        height: 360px;
        border-radius: 10px;
        margin: auto;
        position: relative;
        header{
            background: #E0E8F0;
            height: 30px;
            border-radius: 8px 8px 0 0;
            padding-left: 10px;
            .button{
                width: 12px;
                height: 12px;
                margin: 10px 4px 0 0;
                display: inline-block;
                border-radius: 8px;
                &.green{
                  background: #3BB662;
                }
                &.yellow{
                  background: #E5C30F;
                }
                &.red{
                  background: #E75448;
                }
            }
        }
        .terminal{
          color: white;
          font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
          font-size: 11pt;
          background: #30353A;
          padding: 10px;
          box-sizing: border-box;
          position: absolute;
          width: 100%;
          top: 30px;
          bottom: 0;
          overflow: auto;
        }
    }
}