.myskills{
    padding: 100px 0;
    background: #2b2f3b;
    .section-title{
        text-align: center;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        gap: 15px;
        position: relative;
        list-style: none;
        padding: 0px;
        margin: 50px 0px 0px;
        padding-top: 25px;
        &__folder{
            padding: 15px;
            border: 1px solid #64ffda;
            color: aliceblue;
            border-radius: 5px;
            &__title{
                padding-bottom: 5px;
            }
            &__description{
                padding-bottom: 20px;
            }
        }
    }
    &__contents{
        display: flex;
        padding-top: 30px;
        justify-content: center;
    }
    .wrapper {
        margin: 15px;
        position: relative;
      }
      .fake-close-label {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
      }
      .folder-title {
        color: #f0f0f0;
        display: block;
        text-align: center;
        padding-top: .4em;
        font-size: .8em;
        width: 100%;
        position: absolute;
        top: 100%;
      }
      
      [type='checkbox'] {
        display: none;
        &:checked {
          + .folder {
            filter: blur(10px);
          }
          ~ .fake-close-label {
            pointer-events: auto;
          }
          ~.folder-content {
            top: -50%;
            transform: translateZ(0) scale(1);
            pointer-events: auto;
            background: rgba(255,255,255,.4);
            .app {        
              span {
                opacity: 1;
              }
            }
          }
          
        }
      }
      
      .folder {
        position: relative;
        transition: all .4s ease;
        cursor: pointer;
        user-select: none;
        display: block;
        width: 4em;
        height: 4em;
        background: rgba(255,255,255,.4);
        
        border-radius: .8em;
        box-shadow: 0 .4em .8em rgba(0,0,0,.2);
      }
      
      .folder-content {
        padding: 1em;
        width: 12em;
        height: 9em;
        overflow: hidden;
        top: calc(-50% - .8em);
        left: -100%;
        pointer-events: none;
        transition: all .2s ease;
        transform-origin: 50% 50%;
        transform: translateZ(0) scale(.3);
        border-radius: .4em;
        position: absolute;
      }
      
      .app {
        display: inline-block;
        text-align: center;
        cursor: pointer;
        padding: .4em;
        width: 3.1em;
        height: 3.1em;
        i {
          color: #fff;
          width: 2em;
          line-height: 2em;
          font-size: 1.2em;    
          display: block;
          border-radius: .4em;
        }
        &, span {
          transition: all .2s ease;
        }
        span {
          opacity: 0;
          display: block;
          font-size: .4em;
          margin-top: .4em;
          color: #333;
        }
      }
      .fa-twitter {
        background: #1DC6FF;
      }
      .fa-dribbble {
        background: #EA4C89;
      }
      .fa-dropbox {
        background: #007EE5;
      }
      .fa-github {
        background: #333;
      }
      .fa-codepen {
        background: #222;
      }
      
}